// Colours
$bodyColour: #000;
$linkColour: #f9801e;
$headingColour: #fb7305;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 5%);
$white: #fff;

$backgroundColour: #acb7f7;
$codeBackgroundColour: #000;
