// Colours
$bodyColour: #fff;
$linkColour: #ffa55b;
$headingColour: darken($linkColour, 20%);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 5%);
$white: #fff;

$backgroundColour: #3450f0;
$codeBackgroundColour: darken($backgroundColour, 15%);
